<div id="answer_form">
  <%= form_with model: [session, message] do |f| %>
    <%= f.text_field :content,
                     class: "form-control",
                     placeholder: "Your answer... (type 'end' to finish)" %>
    <%= f.submit "Send", class: "btn btn-primary mt-2" %>
  <% end %>
</div>
