<%= simple_form_for [session, Message.new],
      html: { multipart: true },
      remote: true do |f| %>

  <div class="d-flex gap-2 align-items-center">

    <%= f.input :content,
      label: false,
      placeholder: "Type your answer…",
      input_html: { id: "message_content", class: "form-control" } %>

    <%= f.input :file,
      as: :file,
      label: false,
      input_html: { accept: "application/pdf" } %>

    <%= f.button :submit, "Send", class: "btn btn-primary" %>

  </div>

<% end %>
