<div class="<%= message.role == 'user' ? 'text-end' : 'text-start' %>">
  <div class="d-inline-block px-3 py-2 mb-2 rounded
              <%= message.role == 'user' ? 'bg-primary text-white' : 'bg-light text-dark' %>">
    <%= message.content %>
  </div>
</div>
