<div class="<%= message.sender == 'user' ? 'text-end' : 'text-start' %>">
  <div class="p-2 rounded mb-2 <%= message.sender == 'user' ? 'bg-primary text-white' : 'bg-light' %>">
    <%= simple_format(message.content) %>
  </div>
</div>
