<div class="container mt-4">
  <h2>Your Chats</h2>
  <hr>

  <%= link_to "Start New Chat", new_assistant_session_path, class: "btn btn-primary mb-3" %>

  <ul>
    <% @sessions.each do |s| %>
      <li>
        <%= link_to "Chat ##{s.id}", assistant_session_path(s) %>
      </li>
    <% end %>
  </ul>
</div>
