<div class="container mt-4">
  <h2>Your Mock Interviews</h2>

  <%= link_to "Start New Interview",
              new_assistant_session_path,
              class: "btn btn-primary mt-3" %>

  <ul class="mt-4">
    <% @sessions.each do |s| %>
      <li>
        <%= link_to "Interview ##{s.id} – #{s.role} (#{s.status || "new"})",
                    assistant_session_path(s) %>
      </li>
    <% end %>
  </ul>
</div>
